.project-section h2 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: #00BFA6;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.project-section h1 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #283346;
}

.project-section img:hover {
    transform: scale(1.2);
    transition: transform 3s ease-out;
}

.see-button {
    background-color: #00BFA6;   
    outline: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    width: 10%;
    text-align: center;
    margin: 50px 0;
}

/* @media only screen and (max-width: 576px) {

    .project-div img {
        width: 100% !important;
    }
} */