.one {
    font-size: 4rem;
    color: #283346;
}

.two {
    font-size: 4.5rem;
    font-weight: bold;
    color: #00BFA6;
}

.resume-button {
    background-color: #00BFA6;   
    outline: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.resume-button:hover {
    
}

.banner-div p {
    color: #283346;
    font-size: 1.1rem;
    font-weight: bold;
}

@media only screen and (max-width: 576px) {

    .one {
        font-size: 2rem;
        color: #283346;
    }

    .two {
        font-size: 2rem;
        font-weight: bold;
        color: #00BFA6;
    }

    .banner-div p {
        color: #283346;
        font-size: 15px;
        font-weight: bold;
        text-align: justify;
    }
}